google-api-core>=2.22.0
googleapis-common-protos>=1.65
grpc-stubs>=1.53.0.5
grpcio>=1.66.2
grpcio-reflection>=1.66.2
grpcio-tools>=1.66.2
mypy-protobuf>=3.6.0
protobuf>=5.27.5,<5.28.0
types-protobuf>=4.24
